CONFIG = {
    'mode': 'wsgi',
    'working_dir': '{{ dir }}',
    'python': '/home/{{ user }}/.virtualenvs/{{ site }}/bin/python',
    'environment': {
        'TEMP': '/tmp/user/{{ uid }}',
        'TEMPDIR': '/tmp/user/{{ uid }}',
        'TMP': '/tmp/user/{{ uid }}',
        'TMPDIR': '/tmp/user/{{ uid }}',
    },
    'user': '{{ user }}',
    'group': '{{ group }}',
    'args': (
        '--bind=unix:/tmp/gunicorn-{{ site }}.sock',
        '--workers=4',
        # '--timeout=30',
        '{{ wsgi }}:application',
    ),
}
